@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Montserrat:wght@100;200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Crimson", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}


.card {
    background-color: #e9ffb4;

}

.card-body {
    color: #136D60
}

.card-title {
    color: #04413C;

}

.list-group-item {
    color: #13C1AC;
    background-color: #FFCEE6;

}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-img-top {
    width: 100%;
    height: auto;
}